html {
  font-size: 10px;
  scroll-behavior: smooth;
}
body {
  height: 100vh;
  width: 100%;
}
.btn_orange {
  padding: 1.5rem 6rem;
  background-color: #ff4e2e;
  border: none;
  color: #fff;
  font-size: 1.8rem;
}
.btn_orange:focus {
  outline: none;
}
.btn_orange:active {
  background-color: #ff3815;
}
.btn_call {
  padding: 1rem 3.5rem;
  background-color: #fbfbfb;
  border: 1px solid #f82370;
  color: #f53f4f;
  font-size: 1.6rem;
}
.btn_call:focus {
  outline: none;
}
.btn_call:active {
  background-color: #eeeeee;
}
.main {
  background-color: #fbfbfb;
}
.main-header-menu {
  padding: 3rem 0;
}
.main-header-menu a {
  margin: 0rem 1rem;
  color: #1f1f24;
  font-size: 16px;
  font-weight: 400;
}
.main-header-menu a:hover {
  color: #1f1f24;
  text-decoration: none;
}
.main-header-menu a:focus {
  color: #fc557c;
  border-bottom: 1px solid #ff4e2e;
}
.main-header-contacts {
  padding: 2rem 0;
}
.main-header-contacts a {
  margin-right: 2rem;
  color: #1f1f24;
  font-size: 2.5rem;
  font-weight: 700;
}
.main-header-contacts a:hover {
  color: #1f1f24;
  text-decoration: none;
}
.main-content-text {
  margin-top: 20rem;
  margin-bottom: 4.6rem;
}
.main-content-text h1 {
  color: #1f1f24;
  font-size: 7rem;
  font-weight: 700;
}
.main-content-text p {
  font-size: 2.5rem;
  color: #8993ad;
}
.work {
  padding: 10rem 0;
}
.work-header h2 {
  color: #262626;
  font-size: 5.4rem;
  font-weight: 700;
}
.work-content {
  margin: 9rem 0;
}
.work-content-block p {
  margin-top: 2.4rem;
  font-size: 1.8rem;
  color: #8993ad;
}
.portfolio {
  padding: 5rem 0;
}
.portfolio-header h2 {
  color: #262626;
  font-size: 5.4rem;
  font-weight: 700;
}
.portfolio .btn_orange {
  margin-bottom: 5rem;
}
.portfolio-content {
  margin: 9rem 0;
}
.portfolio-content p {
  margin-top: 2.4rem;
  font-size: 1.8rem;
  color: #8993ad;
}
.adaptive {
  padding: 8rem 5rem;
  margin-top: 9rem;
  background-color: #ff4e2e;
}
.adaptive-header {
  margin-left: 6rem;
}
.adaptive-header h3 {
  color: #ffffff;
  font-size: 4.5rem;
  font-weight: 700;
}
.adaptive-header p {
  color: #ffffff;
  font-size: 1.8rem;
}
.contacts {
  padding: 8rem 0;
}
.contacts-menu a {
  display: block;
  font-size: 1.6rem;
  color: #8993ad;
}
.contacts-menu a:nth-child(2) {
  margin-top: 1.5rem;
}
.contacts-menu a:nth-child(3) {
  margin-top: 1.5rem;
}
.contacts-menu a:hover {
  text-decoration: none;
  color: #f82370;
}
.contacts_link a {
  display: block;
  color: #1f1f24;
  text-decoration: none;
  font-size: 2rem;
}
.contacts_link a:nth-child(2) {
  margin-top: 3rem;
}
.contacts_link a:hover {
  color: #1f1f24;
  text-decoration: none;
}
.contacts .button {
  display: block;
}
.contacts .social_link:nth-child(2) {
  margin-left: 3rem;
}
.contacts .social_link:nth-child(3) {
  margin-left: 3rem;
}
.contacts .social_link:nth-child(4) {
  margin-left: 3rem;
}
.contacts i {
  font-size: 2rem;
  color: #8993ad;
  margin-top: 3rem;
}
footer {
  padding: 3.5rem;
  background-color: #31293c;
  font-size: 1.5rem;
  color: #fff;
}
@media (max-width: 991px) {
  .main-header-menu {
    text-align: center;
  }
  .main-header-contacts {
    text-align: center;
  }
  .main-header-contacts a {
    display: block;
    margin-bottom: 5rem;
  }
  .main-content img {
    margin: 4rem 5rem;
    border: 3px solid black;
  }
  .main-content button {
    margin: 0 22rem;
  }
  .main-content-text {
    text-align: center;
  }
  .work-content-block {
    border: 3px solid #f53f4f;
    padding: 2.5rem;
    margin-top: 2.5rem;
    height: 24rem;
  }
  .portfolio-content {
    text-align: center;
  }
  .portfolio-content-block {
    margin-top: 3rem;
    border: 3px solid #ff4e2e;
  }
  .contacts-menu {
    text-align: center;
  }
  .contacts-menu a {
    display: inline-block;
    margin: 0 3rem;
  }
  .contacts_link {
    margin: 3rem 0;
    text-align: center;
  }
  .contacts button {
    margin: auto;
  }
  .contacts .social {
    text-align: center;
  }
}
